html, body {
    height: 100%;
    margin: 0;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 100;
}
#triggers {
    position: absolute;
    height: 100%;
}
#triggers div {
    position: absolute;
}
#triggers #t1 {
    top: 0;
}
#triggers #t2 {
    top: 100%;
}
#triggers #t3 {
    top: 200%;
}
#triggers #t4 {
    top: 300%;
}
#pinContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.panel {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}
.panel .additionalContent {
    top: 100%;
    position: absolute;
}
.blue {
  background-color: #3883d8;
}
.turqoise {
  background-color: #38ced7;
}
.green {
  background-color: #22d659;
}
.bordeaux {
  background-color: #953543;
}
.panel > b {
  font-size: 15px;
  color: white;
  position: relative;
  display: block;
  height: 0;
  overflow: visible;
  top: 50%;
}
