<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="css/estilo.css"  media="screen,projection"/>


  <script src="http://scrollmagic.io/js/lib/jquery.min.js"></script>
  <script src="http://scrollmagic.io/js/lib/greensock/TweenMax.min.js"></script>
  <script src="http://scrollmagic.io/scrollmagic/uncompressed/ScrollMagic.js"></script>
  <script src="http://scrollmagic.io/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
  <script src="http://scrollmagic.io/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <title>Startup</title>

</head>
<body>
  <nav>
    <a href="#t1">1</a>
    <a href="#t2">2</a>
    <a href="#t3">3</a>
    <a href="#t4">4</a>
  </nav>
  <div id="triggers">
    <div id="t1"></div>
    <div id="t2"></div>
    <div id="t3"></div>
    <div id="t4"></div>
  </div>
  <div id="pinContainer">
    <section class="panel blue">

    </section>
    <section class="panel turqoise">

      <div class="additionalContent">

      </div>
    </section>
    <section class="panel green">

    </section>

  </section>
  <section class="panel bordeaux">

  </section>
  <div class="">

  </div>

</div>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<!-- JS para os efeito do scroll -->
<script type="text/javascript">
console.clear();
console.log("ScrollMagic v%s loaded", ScrollMagic.version);

// init
var controller = new ScrollMagic.Controller();

// add scene for pin
var scene = new ScrollMagic.Scene({
  triggerElement: "#pinContainer",
  triggerHook: "onLeave",
  duration: "300%"
})
.setPin("#pinContainer")
.addIndicators()
.addTo(controller); // add indicators (requires plugin)

// add scenes for animations
new ScrollMagic.Scene({
  triggerElement: "#triggers #t1",
  triggerHook: "onLeave",
  duration: "100%"
})
.setTween(TweenMax.fromTo("section.panel.turqoise", 1, {x: "-50%"}, {x: "0%", ease: Linear.easeNone}))
.addIndicators() // add indicators (requires plugin)
.addTo(controller);

new ScrollMagic.Scene({
  triggerElement: "#triggers #t2",
  triggerHook: "onLeave",
  duration: "100%"
})
.setTween(new TimelineMax()
.to("section.panel .additionalContent", 1, {y: "100%", ease: Linear.easeNone}) // scroll Content
.fromTo("section.panel.green",    1, {x:  "-100%"}, {x: "-50%", ease: Linear.easeNone})  // in from right
)
.addIndicators() // add indicators (requires plugin)
.addTo(controller);


new ScrollMagic.Scene({
  triggerElement: "#triggers #t3",
  triggerHook: "onLeave",
  duration: "100%"
})
.setTween(TweenMax.fromTo("section.panel.bordeaux", 1, {y: "-100%"}, {y: "0%", ease: Linear.easeNone}))
.addIndicators() // add indicators (requires plugin)
.addTo(controller);


</script>
</body>
</html>
